body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #259674; /* ホームページの背景色 */
    color: white; /* 白文字 */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: darkcyan;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
    margin-right: 30px;
    text-align: left;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* 位置固定 */
.navbar{
position: fixed;
top: 0;
left: 0;
}


.hamburger-menu {
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #000; /* メニューの背景色 */
    color: #FFF; /* 文字色 */
    width: 200px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #c0c0c0; /* 区切り線の色 */
}

.menu ul li a {
    color: #FFF; /* 文字色 */
    text-decoration: none;
}

.container {
    display: flex; /* Flexboxを有効にする */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    height: calc(100vh - 50px); /* ビューポートの高さからナビゲーションバーの高さを引いたサイズ */
    text-align: center; /* テキストの中央揃え */
    position: relative; /* 子要素を位置指定できるようにする */
}

.welcome-message, .welcome-subtitle {
    position: absolute; /* 絶対位置指定 */
    top: 50%; /* ビューポートの50%の位置 */
    left: 50%; /* ビューポートの50%の位置 */
    transform: translate(-50%, -50%); /* 中央に揃えるための変換 */
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.welcome-message {
    color: #000;
}

.welcome-subtitle {
    color: #222;
}

.welcome-message.show,
.welcome-subtitle.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* 中央に揃えつつスケール */
}

.service {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.service img {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.service:hover img {
    transform: translateY(-5px);
}
