.footer {
    height: 24
    0px; /* 高さを200pxに設定 */
    background-color: #111; /* 背景色を#111に設定 */
    color: #fff; /* テキストの色を白に設定 */
    display: flex; /* フレックスボックスを使用して配置を調整 */
    justify-content: space-between; /* 左右に分ける */
    width: 100%; /* 横幅を100%に設定 */
    position: relative; /* 親要素の基準位置を設定 */
    padding: 0 20px; /* 左右にパディングを追加 */
    box-sizing: border-box; /* ボックスサイズを含める */
    align-items: flex-end; /* 縦方向は下揃え */
}
.footer-left {
    text-align: left; /* 左側のテキストを左揃え */
}

.footer-right {
    text-align: right; /* 右側のテキストを右揃え */
    color: #444;
}

