body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000cd; /* 背景色 */
    color: #ffffff; /* 文字色 */
}

.container {
    text-align: center;
}

#page-title, #page-content {
    font-size: 2rem;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#page-title.show, #page-content.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

#page-title.animate, #page-content.animate {
    animation: fadeInOut 5s ease-in-out infinite;
}

.navbar {
    background-color: darkcyan;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 0 20px; /* 横に余白を追加 */
    box-sizing: border-box;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px; /* リンク間の余白を追加 */
    font-size: 1.2rem;
    line-height: 50px; /* ナビゲーションバーの高さに合わせて中央揃え */
}

.menu {
    display: none;
}

.menu.show {
    display: block;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    color: #fff;
    text-decoration: none;
}

.menu-item.contact-item {
    color: #ccc;
}
